.App {
  text-align: center;
  background-color: #8b4513;
  width: 102vw;
}

.app-container {
  position: relative;
  background-image: url('./images/mtbBgMobileOpt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 86vh;
  color: white;
}

@media (min-width: 600px) {
  .App {
    width: 100vw;
  }
  .app-container {
    position: relative;
    background-image: url('./images/mtbBgWebOpt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 86vh;
    color: white;
  }
}

.app-container::before {
  /* Create a dark overlay */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.app-container > * {
  position: relative;
  z-index: 2;
}

.app-title {
  font-size: 32px;
  font-weight: 900;
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  margin: 80px 0 20px 0;
}

.trail-systems-image {
  width: 200px;
}

.info-section {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
}

.info-section-title {
  color: black;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}

.admin-section {
  color: white;
  margin-bottom: 30px;
}

.admin-section-title {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}

.footer-container {
  overflow: hidden;
}
