.App {
  text-align: center;
  background-image: url('./images/mtbbgmobile1.png'); /* Path to your image */
  background-size: cover; /* Scale the image to cover the entire background */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  color: white; /* Ensure text is visible */
}

.app-container {
  margin-top: 70px;
}
