/* PhotoSlider.css */
.slider {
  width: 200px; /* Adjusted for portrait orientation */
  height: 400px; /* Adjusted for portrait orientation */
  overflow: hidden;
  position: relative;
  margin: auto;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the photo fits nicely within the portrait frame */
  transition: opacity 0.5s ease-in-out;
}
